#button_start {
    font-weight: bold;
}

#button_stop {
    font-weight: bold;
}

#button_logs {
    font-weight: bold;
}

#mass_channel_label {
    font-weight: bold;
}

#guild_name_label {
    font-weight: bold;
}

#channel_delete_label {
    font-weight: bold;
}

#dm_all_label {
    font-weight: bold;
}