#button_start {
    font-weight: bold;
}

#button_stop {
    font-weight: bold;
}

#button_logs {
    font-weight: bold;
}

#mass_channel_label {
    font-weight: bold;
}

#guild_name_label {
    font-weight: bold;
}

#channel_delete_label {
    font-weight: bold;
}

#dm_all_label {
    font-weight: bold;
}

#rename_channel_label{
    font-weight: bold;
}

#presence_label {
    font-weight: bold;
}

#send_message_label {
    font-weight: bold;
}

#nickname_label {
    font-weight: bold;
}

#guild_icon_label{
    font-weight: bold;
}